{% extends "base.html" %}
{% block content %}

<h1>Biudžetas</h1>

{% block family_message %}
  {% if family in user.families.all %}
    <p>Sveiki, jūs priklausote fondui: {{ family.name }}.</p>
  {% else %}
    <p>Atsiprašome, bet atrodo, kad jūs nepriklauso jokiam fondui. Norėdami naudotis biudžeto funkcijomis, sukurti ar prisijungti prie fondo.</p>
  {% endif %}

  <a href="{% url 'leave_family' family_id=family.id %}">Palikti fondą:</a> {{ family.name }}


<p>
  <a href="{% url 'delete_family' family.id %}">Ištrinti fondą:</a> {{ family.name }}
</p>



<h1>Vartotojai, priklausantys fondui</h1>
<ul>
    {% for user in users %}
        <li><a href="{% url 'profiles' user.id %}">{{ user.username }}</a></li>
    {% endfor %}
</ul>

{% endblock %}

<a href="{% url 'add_user_to_family' family_id=family.id %}">Pridėti vartotoją į fondą</a>

{% if family.balance %}
  <h2>Fondo balansas</h2>
  <p>Balansas: {{ family.balance }} EUR</p>
{% else %}
  <p>Fondas tuščias.</p>
{% endif %}

<h2>Fondo Inašos:</h2>
<ul>
  {% for income in incomes %}
    <li>{{ income.user.username }} - {{ income.description }} + {{ income.amount }} EUR</li>
  {% empty %}
    <li>Nėra įrašytų pajamų.</li>
  {% endfor %}
</ul>

<h2>Fondo Išlaidos:</h2>
<ul>
  {% for expense in expenses %}
    <li>{{ expense.user.username }} - {{ expense.description }} - {{ expense.amount }} EUR</li>
  {% empty %}
    <li>Nėra įrašytų išlaidų.</li>
  {% endfor %}
</ul>

<a class="button" href="{% url 'add_income' family_id=family.id %}" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Inešti&nbsp;&nbsp;&nbsp;</a>
<a class="button" href="{% url 'add_expense' family_id=family.id %}" class="btn btn-primary">Išlaidos</a>


{% endblock %}
