{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<h1>Sukurkite Naują Fondą</h1>
<p style="font-size: small;">
  Arba kreipkitės į fondo kūrėją, jog jus pridėtų prie jau esančio fondo.<br>
</p>

{% if form.errors %}
    <p style="color: red;">Formoje yra klaidų:</p>
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label_tag }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" class="button" action="{% url 'select_family' %}">
    {% csrf_token %}
    {{ form.name.label_tag }}
    {{ form.name }}
    {{ form.expiration_date.label_tag }}
    {{ form.expiration_date }}
    <button class="button" type="submit">Sukurkite</button>
</form>

<div>
  <h3>Fondai, prie kurių priklausote:</h3>

  <ul>
    {% for family in user_families %}
      <p><a href="{% url 'budget' family.id %}">{{ family.name }}</a>(Galiojimo data: {{ family.expiration_date|default:"Nėra" }})</p>
    {% endfor %}
  </ul>

</div>

{% endblock %}
